/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #f0f0f0;
  --secondary-color: #112a46;
  --accent1-color: #4d5382;
  --accent2-color: #8cba80;
  --accent3-color: #FFFFFF;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;
  /* headlines on a white background */
  --headline-color-on-color: #112a46;
  /* headlines on a colored background */
  --paragraph-color-on-white: #396E94;
  /* paragraph text on a white background */
  --paragraph-color-on-color: white;
  /* paragraph text on a colored background */
  --paragraph-background-color: #396E94;
  --nav-link-color: #396E94;
  --nav-background-color: #d4ac0d;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

body {
  background-color: #ffff;
  color: #112a46;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
header {
  background-color: #f0f0f0;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
h1,h2 {
  color:#112a46;
  text-align: center;
}
h4 {
  text-align: center;
  font-size: 20px;
}
.content {
  padding: 15px;
  line-height: 1.6;
}
p {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
}
ul li {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #f0f0f0;
  color: #112a46;
}
.center-url{
  display: block;
  text-align: center;
}

.desktop {
  width: 600px;
  height: 650px;
}
 .mobile {
  width: 400px;
  height: 550px;
}
figure {
  text-align: center;
}
 
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
.accent3 {
  background-color: var(--accent3-color);
}
