.member {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.member img {
    max-width: 100px;
    height: auto;
}
/* Grid view */
.grid-view .member {
    display:inline-block;
    width: 30%;
}
/* List view */ 
.list-view .member {
    display: block;
    width: 100%;
}