* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
   /* line-height: 1.6;*/
    color: #333;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}
header {
    background: #00539c;
    color: white;
    padding: 1rem;
}
header .top-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
header button {
    background: #ffd700;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
}
.hamburger-menu {
    display: flex;  
    flex-direction: column;   
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
.hamburger-menu .line {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}
.menu {
    display: none;
    flex-direction: column;
    background: #00539c;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 10px;
    width: 180px;
    z-index: 999;
    border-radius: 5px;
}
.menu li {
    text-align: left;
    margin: 10px 0;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 25px;
}
.menu li a:hover {
    background: #004080;
}
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00539c;
    padding: 10px 15px;
    position: relative;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00539c;
    padding: 10px 15px;
    position: relative;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 50px auto;
    gap: 20px;
}
.form-container {
    flex: 1 1 60%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.membership-benefits {
    flex: 1 1 35%;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.membership-benefits h3 {
    margin-top: 0;
}
.membership-benefits ul {
    list-style-type: none;
    padding: 0;
}
.membership-benefits li {
    margin: 10px 0;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
input, select, textarea  {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
input [type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #083D77;
    text-align: center;
    padding: 10px 0;
}
footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #FFFFFF;
}

