/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

h2 {
   text-align: center;
   font-size: 25px;
}
ul li {
    text-align: center;
    font-size: 25px;
}

/* Navigation Styles */
.menu {
    display: none; /* Hidden by default */
    flex-direction: column;
    background-color: #333;
    color: #fff;
    list-style: none;
    padding: 1rem;
    font-size: 25px;
    justify-content: center;
}
.menu a {
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}
.menu a:hover {
    background-color: #444;
}

/* Tasks Section */
.mark-complete::before {
    content: '✔';
    margin-right: 0.5rem;
    color: green;
}
.mark-complete {
    color: darkgray;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}
button#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

/* Media Query for Large Screens */
@media (min-width: 768px) {
    #hamburger {
        display: none; /* Hide hamburger in larger viewports */
    }
    .menu {
        display: flex;
        flex-direction: row;
    }
}